@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Mulish", sans-serif;
}

/* default style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 5rem auto;
  border-radius: 1rem;
}
h3 {
  font-size: 36px;
  text-align: center;
  font-weight: 800;
  line-height: normal;
}
p,
li {
  font-size: 18px;
  font-weight: normal;
  line-height: normal;
  text-align: center;
}
/* navbar style */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  width: 280px;
}
.logo img {
  width: 48px;
  height: 56px;
  margin-right: 0.5rem;
}
.nav-options {
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
}
.span {
  color: rgb(255, 84, 0);
}
.nav-options p {
  cursor: pointer;
}
.explore-Your-Travel {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.explore-container h3 {
  color: #ffff;
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 24px;
}
.explore-container p {
  color: rgb(255, 255, 255);
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 38px;
}
.travel-input {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  display: flex;
  gap: 20px;
  align-items: center;
  backdrop-filter: blur(1px);
}
input,
select {
  width: 174px;
  height: 45px;
  padding: 0 0.5rem;
  margin: 0 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}
.btn-primary {
  width: 174px;
  height: 45px;
  border-radius: 8px;
  background: rgb(255, 84, 0);
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 800;
}

/* Our Popular Tours */
.popular-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.popular-section img {
  width: 100%;
  height: 100%;
}
.text-content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: space-between;
}
.text-content p,
.text-content li {
  line-height: 24px;
  word-spacing: 5px;
}
.text-content p,
.text-content li,
.text-content h3 {
  text-align: left;
}
.text-content li {
  margin-left: 30px;
}

/* Your Destination  */
.Discounts-section img {
  width: 100%;
}
.your-destination h3,
.choose-title,
.discount-title {
  color: rgb(19, 19, 24);
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.your-destination .destination-description,
.choose-description,
.discount-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin-bottom: 38px;
}
.your-destination img {
  width: 100%;
  height: 300px;
  filter: brightness(80%);
}

.row-1,
.row-2,
.row-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem 0;
  gap: 1rem;
}
.row-2 {
  grid-template-columns: 0.8fr 1.5fr 0.7fr;
}
.row-3 {
  grid-template-columns: 0.8fr 1.25fr;
}
.country-card {
  position: relative;
}
.country {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 28px;
  font-weight: 800;
  transform: translate(-50%, -50%);
}
.choose-sevice {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.service {
  width: 573px;
  height: 284px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  border-radius: 16px;
  background: rgba(251, 181, 99, 0.05);
}
.child {
  width: 486px;
  height: 220px;
  margin: 2rem auto;
}
.child img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}
.child h4 {
  color: rgb(19, 19, 24);
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}
.child p {
  color: rgb(90, 90, 93);
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}
.World-Service {
  border: 1px solid rgba(41, 206, 246, 0.2);
  border-radius: 16px;
  background: rgba(41, 206, 246, 0.05);
}
.Best-Price {
  margin: 3rem auto;
}
/* Deals & Discounts */
.Discounts-section img {
  width: 100%;
}
.Discounts-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.discount-card-one,
.discount-card-three,
.discount-card-two {
  background-image: url(Images/Group\ 39.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  border-radius: 16px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.discount-card-two {
  justify-content: start;
  background-image: url(Images/Group\ 40.png);
}
.hero-time i {
  color: rgb(255, 84, 0);
}
.hero-child,
.hero-child-two {
  width: 579px;
  height: 389px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 16px;
  backdrop-filter: blur(80%);
  background: rgba(255, 255, 255, 0.8);
  margin-right: 56px;
}
.hero-child-two {
  margin-left: 56px;
}
.hero-child-container {
  width: 452px;
  height: 289px;
  margin: 3rem auto;
}
.hero-child-container h3,
.hero-child-container p {
  text-align: left;
}
.hero-time {
  color: rgb(90, 90, 93);
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
}
.hero-child-container h3 {
  margin-top: 20px;
  color: rgb(19, 19, 24);
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}
.hero-child-container p {
  color: rgb(90, 90, 93);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}
.hero-child-container .Price {
  color: rgb(255, 84, 0);
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 16px;
}
.book-now-btn {
  padding: 13px 25px;
  border: none;
  border-radius: 8px;
  background: rgb(255, 84, 0);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 800;
}
.see-all-btn {
  text-align: center;
}
.see-all-btn button {
  border-radius: 8px;
  background: rgb(255, 84, 0);
  padding: 14px 22px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 800;
  margin-top: 60px;
}

.perfect-place {
  display: flex;
  gap: 20px;
}
.place-video iframe {
  border-radius: 16px;
  height: 424px;
}

.place-content h1 {
  margin-top: 24px;
  color: rgb(19, 19, 24);
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 16px;
}
.place-content p {
  color: rgb(90, 90, 93);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin-bottom: 24px;
}
.place-content li {
  text-align: start;
  color: rgb(19, 19, 24);
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
.place-content ul {
  margin-left: 40px;
  margin-bottom: 24px;
}

.form-section {
  display: flex;
  gap: 30px;
}
.form-content {
  width: 474px;
  height: 422px;
  border: 1px solid orangered;
  border-radius: 8px;
}
.form-content-child {
  padding: 40px;
}
.form-content-child h2 {
  color: rgb(19, 19, 24);
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 16px;
}
.form-content-child p {
  text-align: left;
  color: rgb(90, 90, 93);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 16px;
}
.form-content-child input {
  width: 90%;
  margin-top: 20px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
}
.form-content-child input[type="button"] {
  margin-top: 30px;
  border-radius: 8px;
  background: rgb(255, 84, 0);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 800;
}
input::placeholder {
  color: rgba(19, 19, 24, 0.3);
  font-size: 16px;
  font-weight: 400;
}
.image-card p {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
}
.image-card h2 {
  color: rgb(255, 255, 255);
  font-size: 32px;
  font-weight: 800;
}
.form-image {
  position: relative;
}
.form-image img {
  width: 100%;
}
.image-card {
  width: 324px;
  height: 120px;
  border-radius: 16px;
  background: rgb(255, 84, 0);
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 250px;
  left: 300px;
}
.footer-section {
  background: rgba(19, 19, 24, 0.05);
  padding: 2rem 0;
}
.footer-section .logo {
  margin: 2rem auto;
}
.social {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  font-size: 24px;
  margin: 2rem auto;
}
.footer-section hr {
  margin: 2rem 0;
}
.ham-barger {
  display: none;
}

/* Responsive  */

@media screen and (max-width: 600px) {
  .nav-options {
    display: none;
  }
  .ham-barger {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }
  h3 {
    font-size: 26px;
  }
  .container {
    margin: 3rem auto;
  }
  p {
    font-size: 16px;
  }
  .explore-container h3 {
    font-size: 28px;
  }
  .explore-container p {
    width: 90%;
    margin: 0 auto;
  }
  .travel-input {
    flex-direction: column;
    width: 80%;
  }
  .travel-input input,
  .travel-input select,
  .travel-input button {
    width: 100%;
  }
  .popular-section,
  .row-1,
  .row-2,
  .row-3,
  .choose-sevice {
    grid-template-columns: 1fr;
  }
  .service {
    width: 100%;
    height: auto;
    border: 1px solid rgba(251, 181, 99, 0.2);
    border-radius: 16px;
    background: rgba(251, 181, 99, 0.05);
  }
  .child {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .discount-card-one,
  .discount-card-three,
  .discount-card-two {
    justify-content: center;
    align-items: center;
  }
  .hero-child-container {
    width: 100%;
    height: auto;
  }
  .hero-child-two {
    margin-left: 0;
  }
  .hero-child,
  .hero-child-two {
    margin-right: 5%;
    margin-left: 5%;
  }
  .perfect-place {
    flex-direction: column;
  }
  .place-video iframe {
    border-radius: 16px;
    height: 424px;
    width: 100%;
  }
  .place-content h1 {
    text-align: center;
    margin-top: 24px;
    color: rgb(19, 19, 24);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 16px;
  }
  .place-content p {
    text-align: center;
  }
  .form-section {
    flex-direction: column;
  }
  .form-content {
    width: 100%;
    height: auto;
  }
  .image-card {
    width: 324px;
    height: 120px;
    border-radius: 16px;
    background: rgb(255, 84, 0);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 20px;
  }
}
